<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
        <title>CMS</title>
        <style>
            a {
                padding: 5px;
            }

            ul, li {
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <p>
                <router-link to="/users/get/all">Users list</router-link>
                <router-link to="/groups/get/all">Groups tree</router-link>
                <router-link to="/users/create">Create user</router-link>
            </p>
            <router-view :key="$route.fullPath"></router-view>
        </div>

        <script type='text/javascript'>

            Vue.component('users-list', {
                data: function () {
                    return {
                        users: []
                    }
                },

                async created() {
                    const users = await axios.get('/users/get/all')
                    if (users.data) {
                        this.users = users.data;
                    }
                },

                methods: {
                    onUserDelete: async function(user_id) {
                        var users = await axios.post('/users/delete/' + user_id)
                        if (users.data) {
                            this.users = users.data;
                        }
                    }
                },

                template: `
                    <div id="users-list">
                        <h1>Users list</h1>
                        <ul v-if='users'>
                            <li v-for='user in users' v-bind:key='user.id'>
                                <a v-bind:href="'#/users/edit/'+user.id">Edit</a>
                                <a @click="onUserDelete(user.id)" href="#">Delete</a>
                                {{ user.username }}
                            </li>
                        </ul>
                    </div>
                `
            });

            Vue.component('groups-list', {
                data: function () {
                    return {
                        groups: []
                    }
                },

                async created() {
                    const groups = await axios.get('/groups/get/all')
                    if (groups.data) {
                        this.groups = groups.data;
                    }
                },

                template: `
                    <div id="groups-list">
                        <h1>Groups tree</h1>
                        <ul v-if='groups'>
                            <li v-for='group in groups' v-bind:key='group.id' v-bind:style="{ paddingLeft: group.level*50 + 'px' }">
                                <a v-bind:href="'#/groups/view/'+group.id">View</a>
                                {{ group.name }}
                            </li>
                        </ul>
                    </div>
                `
            });


            Vue.component('user-form', {
                data: function () {
                    return {
                        id: -1,
                        username: '',
                        phone:'',
                        groups_all: [],
                        groups_user: [],
                        groups_selectable: []
                    }
                },

                methods: {
                    save: async function() {
                        var user = 
                        {
                            'name':this.username,
                            'phone':this.phone
                        }
                        if( this.id >=0 )
                        {
                            await axios.post('/users/save/' + this.$route.params.id, user )
                        }
                        else
                        {
                            await axios.post('/users/create', user)
                        }
                    },

                    recalc_available_groups: async function() {
                        var ids = this.groups_user.map(a => a.id);
                        this.groups_selectable = this.groups_all.filter(item => !ids.includes(item.id));
                    },
                    
                    onGroupBind: async function(event) {
                        var group_id = event.target.value;
                        var groups = await axios.post('/users/bind/group/' + this.id + '/' + group_id)
                        this.groups_user = groups.data;
                        this.recalc_available_groups();
                    },

                    onGroupUnbind: async function(group_id) {
                        var groups = await axios.post('/users/unbind/group/' + this.id + '/' + group_id)
                        this.groups_user = groups.data;
                        this.recalc_available_groups();
                    },
                    
                },

                async created() {
                    if( this.$route.params.id >= 0 )
                    {
                        this.id = this.$route.params.id;
                        const user = await axios.get('/users/get/' + this.id)
                        if (user.data) {
                            this.username = user.data.username;
                            this.phone = user.data.phone;
                            this.groups_user = user.data.groups;
                        }

                        const groups = await axios.get('/groups/get/all')
                        if (groups.data) {
                            this.groups_all = groups.data;
                        }

                        this.recalc_available_groups();
                    }
                },

                template: `
                <div id='user-form'>
                    <h1>User {{ $route.params.id }}</h1>
                    <div>Name: <input v-model="username"/></div>
                    <div>Phone: <input v-model="phone"/></div>
                    <button v-on:click="save">Save</button>
                    <div v-if='id>=0'>
                        <hr/>
                        <h2>Has groups</h2>
                        <li v-for='group in groups_user' v-bind:key='group.id'>
                            <a v-bind:href="'#/groups/view/'+group.id">View</a>
                            <a @click="onGroupUnbind(group.id)" href="#">Unbind</a>
                            {{ group.name }}
                        </li>
                        <hr/>
                        <h2>Bind group</h2>
                        <select @change="onGroupBind($event)">
                            <option v-for='group in groups_selectable' v-bind:value='group.id'>
                                {{ group.name }}
                            </option>
                        </select>
                    </div>
                </div>`
            });


            Vue.component('group-card', {
                data: function () {
                    return {
                        id: -1,
                        name: '',
                        breadcrumbs: [],
                        users: []
                    }
                },

                async created() {
                    if( this.$route.params.id >= 0 )
                    {
                        this.id = this.$route.params.id;
                        const group = await axios.get('/groups/get/' + this.id)
                        if (group.data) {
                            this.name = group.data.group.name;
                            this.breadcrumbs = group.data.breadcrumbs;
                            this.users = group.data.users;
                        }
                    }
                },

                template: `
                <div id='group-card'>
                    <h1>Group {{ $route.params.id }}</h1>
                    <div class='breadcrumbs'>
                        <a v-bind:href="'#/groups/view/' + crumb.id" v-for='crumb in breadcrumbs' v-bind:key='crumb.id'>
                            {{ crumb.name }}
                        </a>
                    </div>
                    <div>group name: {{ name }}</div>
                    <hr/>
                    <h2>Users of group</h2>
                    <div v-for='user in users' v-bind:key='user.id'>
                        <a v-bind:href="'#/users/edit/' + user.id" >
                                {{ user.username }}
                        </a>
                    </div>
                </div>`
            });

            const routes = [
              { path: '/users/get/all', component: Vue.component('users-list') },
              { path: '/groups/get/all', component: Vue.component('groups-list') },
              { path: '/users/edit/:id', component: Vue.component('user-form') },
              { path: '/groups/view/:id', component: Vue.component('group-card') },
              { path: '/users/create', component: Vue.component('user-form') },
            ]

            const router = new VueRouter({
              routes 
            })

            const app = new Vue({
              router
            }).$mount('#app')
            
        </script>
    </body>
</html>



